textarea {
  margin-top: 80px;
  min-height: 10rem;
}

li {
  list-style: none;
  padding: 4px;
}
li:nth-child(even) {
  background-color: #f8f8f8;
}
li span.line {
  font-weight: bold;
  font-size: 2rem;
}

.container {
  max-width: 900px;
}

.wrapper-box {
  margin-bottom: 2em;
}
a.box {
  border-width: 2px;
  border-style: solid;
  display: inline-block;
  margin: 4px 10px;
  border-radius: 4px;
  padding: 2px 6px;
}

.google {
  border-color: #4285f4;
  color: #4285f4;
}
.amazon {
  border-color: #ff9900;
  color: #ff9900;
}
.cinii-book {
  border-color: #4060a2;
  color: #4060a2;
}
.cinii-article {
  border-color: #4f919e;
  color: #4f919e;
}
.ndl {
  border-color: #334a65;
  background-color: #334a65;
  color: #eee;
}
.hanmoto {
  border-color: #333;
  color: #333;
}
.webcat {
  border-color: #6e695c;
  background-color: #dfd9cb;
  color: #333;
}
.worldcat {
  border-color: #0e4773;
  color: #0e4773;
}

@media print {
  .github-corner,
  .unprint {
    display: none;
  }
}
